.mySection{
    background-color: blueviolet;
    color: yellow;
}
.departments{
    font-family: Arial, Helvetica, sans-serif;
}
.neotable{
    border: 10px solid red;
}
.myFooter{
    background-color: brown;
    height: 300px;
    color: aqua;
}

.myNav{
    background-color:pink;
}

.myHeader{
    background-color:green;
}

.myForm{
    background-color: yellow;
    padding: 10px;
}